<h1>welcometo aur chat app</h1>
<ul>
{{# each list}}
<li><a href='/chatpage?name={{this.username}}'>{{this.username}}</a></li>
{{/each}}
</ul>
<form method='get' action='/logout'>
  <input type='submit' value='logout'>
</form>
<form method='get' action='/delete'>
  <input type='submit' value='delete'>
</form>