<h1> {{title}}</h1>
<form method='post' action='/{{title}}'>
	username : <input type ='text' name ='username' required>
	password : <input type ='password' name='password' required>
	<input type ='submit' value='SUBMIT'>
</form>